:root {
  --primary-colour: #21262e;
  --secondary-colour: #f7f8f8;
  --tertiary-colour: #6dc0ec;
  --quarternary-colour: #bff1ec;
  --quinary-colour: #e9ebed;

  --primary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --secondary-font: monospace;

  /*This color gradient was created using the open-source code snippet provided by SheCodes at https://gradients.shecodes.io/gradients/417*/
  --primary-gradient: linear-gradient(89.2deg, #bff1ec 22.3%, #6dc0ec 84.1%);

  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  --transition: all 150ms ease-in-out;
}

body {
  background-color: var(--secondary-colour);
  font-family: var(--primary-font);
  margin: 0%;
  text-align: center;
}

nav.navigation {
  background-color: var(--primary-colour);
  overflow: hidden;
  padding: 0%;
}
nav.navigation a {
  color: var(--secondary-colour);
  float: left;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
}
nav.navigation a:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
}
nav.navigation a.active {
  color: var(--tertiary-colour);
}

h1 {
  font-size: 65px;
}
h2 {
  font-family: var(--secondary-font);
  font-weight: 300;
}
h2,
h3 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
}

p,
li {
  font-size: 18px;
}

img.index-image,
img.about-headshot-image,
img.gallery-image,
iframe.embedded-shecodes-video {
  border: solid 1px var(--secondary-colour);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 15px;
}
img.index-image,
img.about-headshot-image {
  transition: var(--transition);
}
img.index-image {
  max-height: 400px;
  max-width: 400px;
}
img.index-image:hover {
  transform: scale(103%);
}
img.gallery-image {
  display: block;
  margin: 25px 10px;
  transition: var(--transition);
}
img.gallery-image:hover {
  transform: scale(110%);
}

img.about-headshot-image,
img.gallery-image {
  max-width: 40%;
}
img.shecodes-certificate {
  padding: 0px;
}
a.hero-button {
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 16px;
  padding: 15px 18px;
  margin: 5px 15px;
  text-decoration: none;
  transition: var(--transition);
}
a.hero-button:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
}
a.table-link {
  color: var(--tertiary-colour);
}
a.email-link {
  color: var(--tertiary-colour);
  display: block;
  font-weight: 700;
  margin: 15px 0;
}

footer {
  margin: 50px;
}

table {
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  margin-top: 40px;
}
thead {
  background: var(--primary-gradient);
}
th,
td {
  padding: 15px 50px;
}
tr:nth-child(even) {
  background-color: var(--quinary-colour);
}

.page-hero,
.page-hero-content,
.main-content {
  margin: 0 auto;
}

.page-hero {
  background: var(--primary-gradient);

  padding: 35px 0px 65px;
}
.page-hero-content {
  max-width: 65%;
}
.hero-links {
  margin-top: 55px;
}

.main-content {
  margin-top: 50px;
  max-width: 75%;
}

.project-overview,
.about-overview,
.gallery-view {
  display: flex;
}

.project-overview,
.about-overview {
  justify-content: space-between;
  margin-bottom: 50px;
}

.project-info,
.about-info {
  margin: 0;
  margin-left: 60px;
  text-align: left;
}

.gallery-view {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-container {
  background: var(--primary-gradient);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 60%;
  text-align: left;
}
.contact-container h4 {
  margin: 0;
  position: relative;
  top: 15px;
}
