:root {
  --primary-colour: #21262e;
  --secondary-colour: #e6edf3;
  --tertiary-colour: #ffb4ef;
  --quarternary-color: #79c2f3;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  text-align: center;
}

nav.navigation {
  background-color: var(--primary-colour);
  overflow: hidden;
  padding: 0%;
}

nav.navigation li {
  float: left;
  list-style: none;
  padding: 0%;
}

nav.navigation a {
  color: #e6edf3;
  float: left;
  font-size: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

nav.navigation a:hover {
  background-color: #54575c;
}

nav.navigation a.active {
  color: var(--tertiary-colour);
}

h1 {
  font-size: 65px;
}

h2 {
  font-family: monospace;
  font-weight: 300;
  font-size: 35px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

.project-info p {
  margin: 0;
}

img.index-image,
img.about-headshot-image {
  border: solid 3px var(--primary-colour);
  border-radius: 8px;
  box-shadow: 10px 10px var(--tertiary-colour);
  max-width: 350px;
  padding: 15px;
  transition: all 200ms ease-in-out;
}

img.index-image:hover {
  transform: scale(103%);
}

small {
  color: var(--primary-colour);
}

footer {
  margin: 50px;
}

a.email-link {
  color: var(--primary-colour);
  display: block;
  font-weight: 700;
  margin: 15px 0;
  text-decoration: none;
}

.page-hero {
  /*This color gradient was created using the open-source code snippet provided by SheCodes at https://gradients.shecodes.io/gradients/76 */
  background: linear-gradient(
    114.2deg,
    rgb(121, 194, 243) 22.6%,
    rgb(255, 180, 239) 67.7%
  );
  margin: 0 auto;
  padding: 35px 0px 65px;
}

.page-hero-content {
  margin: 0 auto;
  max-width: 65%;
}

.hero-links {
  margin-top: 55px;
}

a.hero-button {
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  box-shadow: 4px 4px;
  border-radius: 8px;
  padding: 15px 18px;
  margin: 0px 15px;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

a.hero-button:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
}

.main-content {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 65%;
}

.project-overview,
.about-overview {
  display: flex;
  justify-content: space-between;
}

.project-info,
.about-info {
  margin: 0;
  margin-left: 40px;
  text-align: left;
}

.about-info h3 {
  margin: 0%;
}
