:root {
  --primary-colour: #21262e;
  --secondary-colour: #f7f8f8;
  --tertiary-colour: #6dc0ec;
  --quarternary-colour: #bff1ec;
  --quinary-colour: #e9ebed;
}

body {
  background-color: var(--secondary-colour);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  margin: 0%;
  text-align: center;
}

nav.navigation {
  background-color: var(--primary-colour);
  overflow: hidden;
  padding: 0%;
}

nav.navigation li {
  float: left;
  list-style: none;
  padding: 0%;
}

nav.navigation a {
  color: #e6edf3;
  float: left;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

nav.navigation a:hover {
  background-color: #54575c;
}

nav.navigation a.active {
  color: var(--tertiary-colour);
}

h1 {
  font-size: 65px;
}

h2 {
  font-family: monospace;
  font-weight: 300;
}

h2,
h3 {
  font-size: 35px;
}

h4 {
  font-size: 20px;
}

p,
li {
  font-size: 18px;
}

img.index-image,
img.about-headshot-image,
img.gallery-image,
iframe.embedded-shecodes-video {
  border: solid 1px var(--secondary-colour);
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

img.index-image,
img.about-headshot-image {
  transition: all 200ms ease-in-out;
}

img.index-image {
  max-width: 350px;
}

img.index-image:hover {
  transform: scale(103%);
}

img.about-headshot-image {
  max-width: 40%;
}

footer {
  margin: 50px;
}

a.email-link {
  color: var(--primary-colour);
  display: block;
  font-weight: 700;
  margin: 15px 0;
  text-decoration: none;
}

.page-hero {
  /*This color gradient was created using the open-source code snippet provided by SheCodes at https://gradients.shecodes.io/gradients/417*/
  background: linear-gradient(89.2deg, #bff1ec 22.3%, #6dc0ec 84.1%);
  margin: 0 auto;
  padding: 35px 0px 65px;
}

.page-hero-content {
  margin: 0 auto;
  max-width: 65%;
}

.hero-links {
  margin-top: 55px;
}

a.hero-button {
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-family: monospace;
  font-size: 16px;
  padding: 15px 18px;
  margin: 5px 15px;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}

a.hero-button:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  box-shadow: 4px 4px var(--primary-colour);
}

table {
  border-collapse: collapse;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 40px;
}

thead {
  background: linear-gradient(89.2deg, #bff1ec 22.3%, #6dc0ec 84.1%);
}

th,
td {
  padding: 15px 50px;
}

tr:nth-child(even) {
  background-color: var(--quinary-colour);
}

.main-content {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 75%;
}

.project-overview,
.about-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project-info,
.about-info {
  margin: 0;
  margin-left: 40px;
  text-align: left;
}

.gallery-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img.gallery-image {
  display: block;
  margin: 25px 10px;
  max-width: 40%;
  transition: 200ms all ease-in-out;
}

img.gallery-image:hover {
  transform: scale(110%);
}
